 #divActivateWebPin
  {
            border: 3px solid;
            border-radius: 25px;
            border-color: #B22669;
            height: 436px;
            width: 322px;
            background-color: #FFCDE5;
            font-size:medium;
  }
 #panelReg
  {
            border: 3px solid;
            border-radius: 25px;
            border-color: #B22669;
            height: 436px;
            width: 322px;
            background-color: #FFCDE5;
  }
 #panelDevType
  {
           border: 3px solid;
            border-radius: 25px;
            border-color: #B22669;
            height: 436px;
            width: 322px;
            background-color: #FFCDE5;
  }

 #DivWebToken
  {
           border: 3px solid;
            border-radius: 25px;
            border-color: #B22669;
            height: 436px;
            width: 322px;
            background-color: #FFCDE5;
  }
