.mainHeading {
	MARGIN-BOTTOM: 20px; FONT-SIZE: 12px; FONT-FAMILY: 'Calibri',helvetica,sans-serif; VERTICAL-ALIGN: top; FONT-WEIGHT: normal; PADDING-BOTTOM: 20px; TEXT-ALIGN: center; PADDING-TOP: 20px; MARGIN-TOP: 20px; align: center
}
.mainContainer {
	HEIGHT: 100%; WIDTH: 100%; TEXT-ALIGN: center; align: center
}
.mainTableContainer {
	WIDTH: 80%; TEXT-ALIGN: center; MARGIN: 0px auto; align: center
}
.mainTableSpacerLeft {
	WIDTH: 3%; TEXT-ALIGN: center; MARGIN: 0px auto; align: center
}
.mainTableSpacerSegment {
	WIDTH: 2%; TEXT-ALIGN: center; MARGIN: 0px auto; align: center
}
.mainTableSpacerPanels {
	WIDTH: 30%; TEXT-ALIGN: center; MARGIN: 0px auto; align: center
}
.mainTableSpacerRight {
	WIDTH: 3%; TEXT-ALIGN: center; MARGIN: 0px auto; align: center
}
.panelContainer {
	BORDER-TOP: #b22669 5px solid; BORDER-RIGHT: #b22669 5px solid; WIDTH: 300px; BACKGROUND-IMAGE: url(../../img/ezwidget/pinkbar.png); BACKGROUND-REPEAT: repeat-x; BORDER-BOTTOM: #b22669 5px solid; PADDING-BOTTOM: 6px; TEXT-ALIGN: left; PADDING-TOP: 6px; PADDING-LEFT: 6px; MARGIN: 0px auto; BORDER-LEFT: #b22669 5px solid; PADDING-RIGHT: 6px; BACKGROUND-COLOR: #ffcde5; align: left
}
.panelContainerGrayout {
	TEXT-ALIGN: left; align: left
}
TD.panelContainerHeader {
	FONT-SIZE: 15px; HEIGHT: 30px; FONT-FAMILY: 'Calibri',helvetica,sans-serif; VERTICAL-ALIGN: top; FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-ALIGN: left; BACKGROUND-COLOR: transparent; align: left
}
TD.panelContainerBody {
	FONT-SIZE: 12px; HEIGHT: 340px; FONT-FAMILY: 'Calibri',helvetica,sans-serif; VERTICAL-ALIGN: top; FONT-WEIGHT: normal; COLOR: #000000; TEXT-ALIGN: left; BACKGROUND-COLOR: #ffcde5; align: left
}
TD.panelContainerFooter {
	FONT-SIZE: 12px; HEIGHT: 30px; FONT-FAMILY: 'Calibri',helvetica,sans-serif; FONT-WEIGHT: normal; COLOR: #000000; TEXT-ALIGN: right; BACKGROUND-COLOR: #ffcde5; align: right
}
TD.inputareas {
	VERTICAL-ALIGN: middle
}
TD.tkwidget {
	FONT-SIZE: 12px; FONT-FAMILY: 'Calibri',helvetica,sans-serif; VERTICAL-ALIGN: top; FONT-WEIGHT: normal; COLOR: #000000; TEXT-ALIGN: left; align: left
}
INPUT.hiddenSubmit {
	BORDER-TOP: #ffffff 0px solid; HEIGHT: 0px; BORDER-RIGHT: #ffffff 0px solid; WIDTH: 0px; BORDER-BOTTOM: #ffffff 0px solid; POSITION: absolute; COLOR: #ffffff; LEFT: -400px; BORDER-LEFT: #ffffff 0px solid; Z-INDEX: 1; TOP: -400px; BACKGROUND-COLOR: #ffffff
}
INPUT.button {
	FONT-FAMILY: 'Calibri',helvetica,sans-serif; FONT-WEIGHT: bold; COLOR: #3a5500; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-COLOR: #ffeedd
}
INPUT.disabledbutton {
	FONT-FAMILY: 'Calibri',helvetica,sans-serif; FONT-WEIGHT: bold; COLOR: #ffffff; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-COLOR: #cdcdcd
}
DIV.debug {
	MARGIN-BOTTOM: 20px; MARGIN-TOP: 20px
}
TEXTAREA.debug {
	FONT-SIZE: 10px; HEIGHT: 150px; WIDTH: 800px
}
DIV.progressbox {
	FONT-SIZE: 12px; BORDER-TOP: #b22669 5px solid; FONT-FAMILY: 'Calibri',helvetica,sans-serif; BORDER-RIGHT: #b22669 5px solid; WIDTH: 280px; BACKGROUND-IMAGE: url(../../img/ezwidget/pinkbar.png); BACKGROUND-REPEAT: repeat-x; BORDER-BOTTOM: #b22669 5px solid; FONT-WEIGHT: normal; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; PADDING-LEFT: 1px; MARGIN: 0px auto; BORDER-LEFT: #b22669 5px solid; PADDING-RIGHT: 1px; BACKGROUND-COLOR: #ffcde5
}
TABLE.progressbox {
	FONT-SIZE: 12px; FONT-FAMILY: 'Calibri',helvetica,sans-serif; WIDTH: 280px; FONT-WEIGHT: normal; FILTER: alpha(opacity=100); MARGIN: 0px auto; BACKGROUND-COLOR: #ffcde5; -moz-opacity: 1.0; opacity: 1.0
}
TD.progressbox {
	FONT-SIZE: 12px; FONT-FAMILY: 'Calibri',helvetica,sans-serif; FONT-WEIGHT: normal; MARGIN: 0px auto
}
DIV.progressboxheader {
	FONT-SIZE: 12px; HEIGHT: 18px; FONT-FAMILY: 'Calibri',helvetica,sans-serif; BACKGROUND-IMAGE: url(../../img/ezwidget/pinkbar.png); BACKGROUND-REPEAT: repeat-x; FONT-WEIGHT: normal; PADDING-TOP: 5px; MARGIN: 0px auto
}
DIV.progressbar {
	FONT-SIZE: 12px; HEIGHT: 8px; FONT-FAMILY: 'Calibri',helvetica,sans-serif; WIDTH: 200px; BACKGROUND-IMAGE: url(../img/progressbar.gif); FONT-WEIGHT: normal; PADDING-TOP: 5px; MARGIN: 0px auto
}
.tooltipHeader {
	FONT-SIZE: 12px; FONT-FAMILY: 'Calibri',helvetica,sans-serif; FONT-WEIGHT: bold
}
.tooltipBody {
	FONT-SIZE: 11px; FONT-FAMILY: 'Calibri',helvetica,sans-serif; FONT-WEIGHT: normal
}
