.ulList03 LI {
	LIST-STYLE-TYPE: none; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; FONT: bold 12px Arial, Helvetica, sans-serif; PADDING-LEFT: 15px; PADDING-RIGHT: 5px
}
.ulList03 LI IMG {
	VERTICAL-ALIGN: middle; MARGIN-RIGHT: 8px
}
.ulList03 LI A {
	FONT: bold 12px Arial, Helvetica, sans-serif
}
.ulList03 LI A:hover {
	COLOR: #b60548; FONT: bold 12px Arial, Helvetica, sans-serif
}
.ulList04 LI {
	LIST-STYLE-TYPE: none; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; FONT: bold 12px Arial, Helvetica, sans-serif; PADDING-LEFT: 15px; PADDING-RIGHT: 5px
}
.logTxt1 {
	COLOR: white; FONT: bold 20px Arial, Helvetica, sans-serif
}
.ulList04 LI IMG {
	VERTICAL-ALIGN: middle; MARGIN-RIGHT: 8px
}
.ulList04 LI z {
	FONT: bold 12px Arial, Helvetica, sans-serif
}
.ulList04 LI z:hover {
	COLOR: #000000; FONT: bold 12px Arial, Helvetica, sans-serif
}
BODY {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
TD {
	COLOR: #333333; FONT: 11px Arial, Helvetica, sans-serif
}
TH {
	COLOR: #333333; FONT: 11px Arial, Helvetica, sans-serif
}
SELECT {
	COLOR: #333333; FONT: 11px Arial, Helvetica, sans-serif
}
INPUT {
	COLOR: #333333; FONT: 11px Arial, Helvetica, sans-serif
}
TEXTAREA {
	COLOR: #333333; FONT: 11px Arial, Helvetica, sans-serif
}
TD INPUT {
	VERTICAL-ALIGN: middle
}
TD SELECT {
	VERTICAL-ALIGN: middle
}
DIV SELECT {
	VERTICAL-ALIGN: middle
}
TD radio {
	VERTICAL-ALIGN: middle
}
z {
	TEXT-DECORATION: underline; COLOR: #000000
}
z:hover {
	TEXT-DECORATION: none; COLOR: #b60548
}
A {
	TEXT-DECORATION: underline; COLOR: #b60548
}
A:hover {
	TEXT-DECORATION: none; COLOR: #b60548
}
P {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H1 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H2 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H3 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H4 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
UL {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
OL {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
FORM {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
FORM {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
IMG {
	BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-TOP-WIDTH: 0px
}
LABEL {
	VERTICAL-ALIGN: middle
}
.CL {
	CLEAR: both
}
.FL {
	FLOAT: left
}
.FR {
	FLOAT: right
}
A.arrLink {
	TEXT-DECORATION: none; BACKGROUND: url(../images/comm_bullete.gif) no-repeat 0px 7px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 10px; DISPLAY: block; PADDING-RIGHT: 0px
}
A.arrLink:hover {
	TEXT-DECORATION: underline
}
A.mailLink {
	TEXT-DECORATION: none; COLOR: #333333; FONT: bold 11px Arial, Helvetica, sans-serif; MARGIN-LEFT: 5px
}
A.mailLink:hover {
	TEXT-DECORATION: none; COLOR: #b60548
}
BUTTON {
	BORDER-LEFT-WIDTH: 0px; OVERFLOW: visible; CURSOR: pointer; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; POSITION: relative; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 5px 5px 0px 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px
}
BUTTON SPAN {
	WHITE-SPACE: nowrap; POSITION: relative; DISPLAY: block
}
BUTTON:unknown {
	BORDER-TOP-STYLE: none; BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none
}
BUTTON.btnMainNew {
	OVERFLOW: visible; BORDER-TOP: #a1335a 1px solid; BORDER-RIGHT: #a1335a 1px solid; BACKGROUND: url(../images/btnBg.gif) #bd4875 repeat-x 50% bottom; BORDER-BOTTOM: #a1335a 1px solid; COLOR: #ffffff; PADDING-BOTTOM: 4px; PADDING-TOP: 2px; FONT: bold 11px Arial, Helvetica, sans-serif; PADDING-LEFT: 6px; BORDER-LEFT: #a1335a 1px solid; MARGIN-TOP: 0px; PADDING-RIGHT: 6px
}
BUTTON.btnMain {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
BUTTON.btnMain IMG {
	VERTICAL-ALIGN: middle
}
BUTTON.btnMain SPAN {
	BORDER-TOP: #a1335a 1px solid; BORDER-RIGHT: #a1335a 1px solid; BACKGROUND: url(../images/btnBg.gif) #bd4875 repeat-x 50% bottom; BORDER-BOTTOM: #a1335a 1px solid; COLOR: #ffffff; PADDING-BOTTOM: 4px; PADDING-TOP: 2px; FONT: bold 11px Arial, Helvetica, sans-serif; PADDING-LEFT: 6px; BORDER-LEFT: #a1335a 1px solid; PADDING-RIGHT: 6px
}
BUTTON.btnOff SPAN {
	BORDER-TOP: #bfbfbf 1px solid; BORDER-RIGHT: #bfbfbf 1px solid; BACKGROUND: url(../images/btnOffBg.gif) #fdfdfd repeat-x 50% bottom; BORDER-BOTTOM: #bfbfbf 1px solid; COLOR: #333333; BORDER-LEFT: #bfbfbf 1px solid
}
.logOutBtn {
	OVERFLOW: visible; BORDER-TOP: #890031 1px solid; BORDER-RIGHT: #890031 1px solid; BACKGROUND: url(../images/logoutBg.gif) no-repeat left bottom; BORDER-BOTTOM: #890031 1px solid; COLOR: #ffffff; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; FONT: bold 11px Arial, Helvetica, sans-serif; PADDING-LEFT: 25px; MARGIN: 0px; BORDER-LEFT: #890031 1px solid; PADDING-RIGHT: 2px
}
.welcome {
	PADDING-TOP: 5px
}
BUTTON.btnLogOut_new SPAN {
	OVERFLOW: visible; BORDER-TOP: #890031 1px solid; BORDER-RIGHT: #890031 1px solid; BACKGROUND: url(../images/btnLogBg_new.gif) #a3043c repeat-x 50% bottom; BORDER-BOTTOM: #890031 1px solid; COLOR: #fff; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; PADDING-LEFT: 2px; BORDER-LEFT: #890031 1px solid; PADDING-RIGHT: 6px
}
BUTTON.btnAdd1 {
	FLOAT: right; MARGIN: 0px 0px -3px
}
BUTTON.btnAdd2 {
	MARGIN: 0px
}
.logoBox {
	PADDING-BOTTOM: 7px; PADDING-TOP: 7px; PADDING-LEFT: 10px; PADDING-RIGHT: 14px
}
.logTxt {
	COLOR: #666666; FONT: bold 11px Arial, Helvetica, sans-serif
}
.hiTxt {
	FONT-WEIGHT: bold; COLOR: #a4013f
}
.headRbox {
	BORDER-TOP: #e8e8e8 1px solid; BORDER-RIGHT: #e8e8e8 1px solid; BACKGROUND: #f5f3f3; BORDER-BOTTOM: #e8e8e8 1px solid; PADDING-LEFT: 8px; BORDER-LEFT: #e8e8e8 1px solid; PADDING-RIGHT: 8px
}
.seBox {
	PADDING-TOP: 5px
}
.logBox {
	BORDER-TOP: #e6e6e6 1px solid; BORDER-RIGHT: #e6e6e6 1px solid; BORDER-BOTTOM: #e6e6e6 1px solid; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 5px; BORDER-LEFT: #e6e6e6 1px solid; PADDING-RIGHT: 0px
}
.iconSpace {
	VERTICAL-ALIGN: middle; MARGIN-RIGHT: 5px
}
.mailbox {
	PADDING-BOTTOM: 0px
}
.mailBx {
	BACKGROUND: url(../images/mailStrip.gif) repeat-x 0px -25px
}
.mailBx .tl {
	HEIGHT: 25px; WIDTH: 5px; BACKGROUND: url(../images/mailStrip.gif) no-repeat 0px 0px
}
.mailBx .tr {
	HEIGHT: 25px; WIDTH: 5px; BACKGROUND: url(../images/mailStrip.gif) no-repeat -5px 0px
}
.navBg {
	BACKGROUND: #a4013f; PADDING-LEFT: 8px
}
.mainNav A {
	CURSOR: pointer; TEXT-DECORATION: none; HEIGHT: 25px; BACKGROUND: url(../images/spacer.gif) no-repeat left top; FLOAT: left; COLOR: #ffffff; FONT: bold 13px Arial, Helvetica, sans-serif; MARGIN-TOP: 3px; DISPLAY: block
}
.mainNav A SPAN {
	BACKGROUND: url(../images/spacer.gif) no-repeat 100% -25px; FLOAT: left; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 8px; DISPLAY: block; PADDING-RIGHT: 8px
}
.mainNav A:hover {
	CURSOR: pointer; TEXT-DECORATION: none; HEIGHT: 25px; BACKGROUND: url(../images/nav_on_new.gif) no-repeat left top; FLOAT: left; COLOR: #b60548; FONT: bold 13px Arial, Helvetica, sans-serif; DISPLAY: block
}
A.mainNavact {
	CURSOR: pointer; TEXT-DECORATION: none; HEIGHT: 25px; BACKGROUND: url(../images/nav_on_new.gif) no-repeat left top; FLOAT: left; COLOR: #b60548; FONT: bold 13px Arial, Helvetica, sans-serif; DISPLAY: block
}
.mainNav A:hover SPAN {
	BACKGROUND: url(../images/nav_on_new.gif) no-repeat 100% -25px; FLOAT: left; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 8px; DISPLAY: block; PADDING-RIGHT: 8px
}
A.mainNavact SPAN {
	BACKGROUND: url(../images/nav_on_new.gif) no-repeat 100% -25px; FLOAT: left; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 8px; DISPLAY: block; PADDING-RIGHT: 8px
}
.subNav {
	BORDER-TOP: #e6e6e6 0px solid; BORDER-RIGHT: #e6e6e6 1px solid; BACKGROUND: url(../images/navSubBg.gif) #fff repeat-x 50% bottom; BORDER-BOTTOM: #e6e6e6 1px solid; COLOR: #333333; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; FONT: bold 12px Arial, Helvetica, sans-serif; PADDING-LEFT: 10px; BORDER-LEFT: #e6e6e6 1px solid; PADDING-RIGHT: 10px
}
.subNav A {
	TEXT-DECORATION: none; COLOR: #333; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
.subNav A:hover {
	TEXT-DECORATION: none; COLOR: #b60548
}
A.subNavAct {
	TEXT-DECORATION: none; COLOR: #b60548
}
.nDiv {
	VERTICAL-ALIGN: middle; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 6px; MARGIN-TOP: 4px; PADDING-RIGHT: 6px
}
.mainContainer {
	BACKGROUND: url(../images/v_line.gif) repeat-y 16px 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 31px; PADDING-RIGHT: 15px
}
.bodyContainer {
	PADDING-BOTTOM: 10px; PADDING-TOP: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.breadCrum {
	PADDING-BOTTOM: 10px; PADDING-TOP: 5px; PADDING-LEFT: 30px; PADDING-RIGHT: 0px
}
.leftnav A {
	FONT-SIZE: 12px; TEXT-DECORATION: none; BACKGROUND: url(../images/navArr_off.gif) no-repeat 9px 10px; COLOR: #333; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 20px; DISPLAY: block; PADDING-RIGHT: 0px
}
.leftnav A:hover {
	FONT-SIZE: 12px; TEXT-DECORATION: underline; BACKGROUND: url(../images/navArr_on.gif) no-repeat 9px 10px; COLOR: #b60548; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 20px; DISPLAY: block; PADDING-RIGHT: 0px
}
A.leftnavact {
	FONT-SIZE: 12px; TEXT-DECORATION: none; BACKGROUND: url(../images/navArr_on.gif) #f5f3f4 no-repeat 9px 10px; FONT-WEIGHT: bold; COLOR: #b60548; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 20px; DISPLAY: block; PADDING-RIGHT: 0px
}
A.leftnavact:hover {
	FONT-SIZE: 12px; TEXT-DECORATION: none; BACKGROUND: url(../images/navArr_on.gif) #f5f3f4 no-repeat 9px 10px; FONT-WEIGHT: bold; COLOR: #b60548; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 20px; DISPLAY: block; PADDING-RIGHT: 0px
}
A.navsub {
	FONT-SIZE: 11px; TEXT-DECORATION: none; BACKGROUND: url(../images/navArr_off.gif) no-repeat 20px 9px; COLOR: #333; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 30px; DISPLAY: block; PADDING-RIGHT: 0px
}
A.navsub:hover {
	FONT-SIZE: 11px; TEXT-DECORATION: underline; BACKGROUND: url(../images/navArr_off.gif) no-repeat 20px 9px; COLOR: #b60548; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 30px; DISPLAY: block; PADDING-RIGHT: 0px
}
A.navsubact {
	FONT-SIZE: 11px; TEXT-DECORATION: none; BACKGROUND: url(../images/navArr_on.gif) no-repeat 20px 9px; COLOR: #b60548; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 30px; DISPLAY: block; PADDING-RIGHT: 0px
}
A.navsubact:hover {
	FONT-SIZE: 11px; TEXT-DECORATION: none; BACKGROUND: url(../images/navArr_on.gif) no-repeat 20px 9px; COLOR: #b60548; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 30px; DISPLAY: block; PADDING-RIGHT: 0px
}
.adBox {
	PADDING-TOP: 8px
}
.cbox {
	BORDER-COLLAPSE: collapse
}
.dbox {
	BORDER-COLLAPSE: collapse
}
.itemGrid {
	BORDER-COLLAPSE: collapse
}
.hbox {
	BORDER-COLLAPSE: collapse
}
.aclistgrid {
	BORDER-COLLAPSE: collapse
}
.zeroList {
	BORDER-COLLAPSE: collapse
}
.cbox TD {
	BORDER-TOP: #dcdcde 1px solid; BORDER-RIGHT: #dcdcde 1px solid; BORDER-BOTTOM: #dcdcde 1px solid; BORDER-LEFT: #dcdcde 1px solid
}
.dbox TD {
	BORDER-TOP: #dcdcde 1px solid; BORDER-RIGHT: #dcdcde 1px solid; BORDER-BOTTOM: #dcdcde 1px solid; BORDER-LEFT: #dcdcde 1px solid
}
.dbox TD {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.demoLink {
	BACKGROUND: url(../images/demoBg.gif) #f2f9fe repeat-x 50% bottom; COLOR: #8c0536; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; FONT: bold 12px Arial, Helvetica, sans-serif; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
.demoLink A {
	TEXT-DECORATION: none
}
.demoimg {
	PADDING-TOP: 15px
}
.tTxt {
	COLOR: #333333; FONT: bold 13px Arial, Helvetica, sans-serif
}
.tTxt01 {
	WIDTH: 50%; COLOR: #333333; PADDING-BOTTOM: 5px; FONT: bold 13px Arial, Helvetica, sans-serif
}
.tTxt02 {
	WIDTH: 50%; COLOR: #333333; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; FONT: bold 13px Arial, Helvetica, sans-serif; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.tTxt03 {
	WIDTH: 70%; COLOR: #333333; PADDING-BOTTOM: 5px; FONT: bold 13px Arial, Helvetica, sans-serif
}
.tTxt051 {
	COLOR: #ffffff; PADDING-BOTTOM: 10px; FONT: bold 16px Arial, Helvetica, sans-serif
}
.tTxt05 {
	COLOR: #ffffff; PADDING-BOTTOM: 8px; FONT: 16px Arial, Helvetica, sans-serif
}
.tTxt05 IMG {
	OVERFLOW: visible; VERTICAL-ALIGN: middle; COLOR: #ffffff; FONT: bold 11px Arial, Helvetica, sans-serif; MARGIN-LEFT: 8px; MARGIN-TOP: 0px
}
.listLink {
	LIST-STYLE-TYPE: none
}
.listLink A {
	TEXT-DECORATION: none; BACKGROUND: url(../images/comm_bullete.gif) no-repeat 0px 10px; COLOR: #333333; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 10px; LINE-HEIGHT: 18px; PADDING-RIGHT: 5px
}
.listLink A:hover {
	TEXT-DECORATION: underline
}
.noteTxt {
	FONT: 11px Arial, Helvetica, sans-serif
}
.titleLine {
	BORDER-BOTTOM: #dcdcde 1px solid; PADDING-BOTTOM: 5px
}
.boxCon {
	PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.actionBreadcrum {
	HEIGHT: 15px; PADDING-BOTTOM: 5px
}
.actionBreadcrum .header {
	COLOR: #b60548; FONT: bold 11px Arial, Helvetica, sans-serif
}
.itemGrid TD {
	BORDER-TOP: #dcdcde 1px solid; BORDER-RIGHT: #dcdcde 1px solid; BORDER-BOTTOM: #dcdcde 1px solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 3px; BORDER-LEFT: #dcdcde 1px solid; PADDING-RIGHT: 3px
}
.itemGrid TR.gridhead TD {
	BACKGROUND: #f3f3f3; FONT-WEIGHT: bold; TEXT-ALIGN: center
}
.cell {
	PADDING-TOP: 10px
}
.row {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 0px; CLEAR: both; PADDING-RIGHT: 0px
}
.hbox TD {
	BORDER-TOP: #dcdcde 1px solid; BORDER-RIGHT: #dcdcde 1px solid; BACKGROUND: #f6f6f6; BORDER-BOTTOM: #dcdcde 1px solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #dcdcde 1px solid; PADDING-RIGHT: 5px
}
.hTitle {
	BACKGROUND: url(../images/h_line.gif) repeat-x 50% bottom; PADDING-BOTTOM: 5px; FONT: bold 13px Arial, Helvetica, sans-serif; MARGIN: 5px 0px
}
.ulList LI {
	LIST-STYLE-TYPE: none; BACKGROUND: url(../images/comm_bullete.gif) no-repeat 0px 9px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 5px
}
.footLine {
	BACKGROUND: #b60548
}
.footerLink TD {
	COLOR: #7d7d7d; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.footerLink A {
	TEXT-DECORATION: none; COLOR: #7d7d7d; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
.footerLink A:hover {
	TEXT-DECORATION: underline; COLOR: #b60548; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
.titleBox1 {
	PADDING-BOTTOM: 5px
}
.box1 {
	BORDER-TOP: #dcdcde 1px solid; BORDER-RIGHT: #dcdcde 1px solid; BORDER-BOTTOM: #dcdcde 1px solid; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; BORDER-LEFT: #dcdcde 1px solid; PADDING-RIGHT: 10px
}
.box2 {
	BORDER-TOP: #dcdcde 1px solid; BORDER-RIGHT: #dcdcde 1px solid; BACKGROUND: #f1f1f1; BORDER-BOTTOM: #dcdcde 1px solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #dcdcde 1px solid; PADDING-RIGHT: 5px
}
.lcolon {
	BACKGROUND: url(../images/colon.gif) no-repeat 97% 9px
}
.listgrid .lcolon {
	PADDING-LEFT: 0px
}
.aclistgrid .altrow .lcolon {
	BACKGROUND: url(../images/colon.gif) #fafafa no-repeat 97% 9px
}
.altrow TD {
	BACKGROUND: #fafafa
}
.listgrid TD {
	PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
.aclistgrid TD {
	PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
.zeroList TD {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.listgrid TD .subgrid TD {
	PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.lineDivider {
	BACKGROUND: url(../images/v_line.gif) repeat-y 10px top; PADDING-LEFT: 20px
}
.redNote {
	FONT-SIZE: 10px; COLOR: #ff0000; TEXT-ALIGN: right
}
.redStar {
	COLOR: #ff0000
}
.txtField {
	BORDER-TOP: #bababa 1px solid; BORDER-RIGHT: #bababa 1px solid; WIDTH: 120px; BORDER-BOTTOM: #bababa 1px solid; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 2px; BORDER-LEFT: #bababa 1px solid; PADDING-RIGHT: 2px
}
.txtDate {
	WIDTH: 70px
}
.txtLog {
	WIDTH: 150px
}
.formatlist {
	PADDING-TOP: 5px; PADDING-LEFT: 3px
}
.hLine {
	BACKGROUND: url(../images/h_line.gif) repeat-x center center
}
.tablist {
	BACKGROUND: url(../images/dot.gif) repeat-x 50% bottom
}
.tablist A {
	CURSOR: pointer; TEXT-DECORATION: none; BORDER-TOP: #e2dbdd 1px solid; BORDER-RIGHT: #e2dbdd 1px solid; BORDER-BOTTOM: #e2dbdd 0px solid; FLOAT: left; COLOR: #333333; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; FONT: bold 11px Arial, Helvetica, sans-serif; PADDING-LEFT: 8px; BORDER-LEFT: #e2dbdd 1px solid; DISPLAY: block; PADDING-RIGHT: 8px; MARGIN-RIGHT: 5px
}
.tablist A:hover {
	CURSOR: pointer; TEXT-DECORATION: none; BORDER-TOP: #e2dbdd 1px solid; BORDER-RIGHT: #e2dbdd 1px solid; BORDER-BOTTOM: #e2dbdd 0px solid; FLOAT: left; COLOR: #333333; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; FONT: bold 11px Arial, Helvetica, sans-serif; PADDING-LEFT: 8px; BORDER-LEFT: #e2dbdd 1px solid; DISPLAY: block; PADDING-RIGHT: 8px; BACKGROUND-COLOR: #f1ebed; MARGIN-RIGHT: 5px
}
.tablist A.tabact {
	CURSOR: pointer; TEXT-DECORATION: none; BORDER-TOP: #e2dbdd 1px solid; BORDER-RIGHT: #e2dbdd 1px solid; BORDER-BOTTOM: #e2dbdd 0px solid; FLOAT: left; COLOR: #333333; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; FONT: bold 11px Arial, Helvetica, sans-serif; PADDING-LEFT: 8px; BORDER-LEFT: #e2dbdd 1px solid; DISPLAY: block; PADDING-RIGHT: 8px; BACKGROUND-COLOR: #f1ebed; MARGIN-RIGHT: 5px
}
.tabbox {
	BORDER-TOP: #e2dbdd 0px solid; BORDER-RIGHT: #e2dbdd 1px solid; BORDER-BOTTOM: #e2dbdd 1px solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #e2dbdd 1px solid; PADDING-RIGHT: 5px; BACKGROUND-COLOR: #f1ebed
}
.tabbg {
	BORDER-TOP: #e2dbdd 1px solid; BORDER-RIGHT: #e2dbdd 1px solid; BORDER-BOTTOM: #e2dbdd 1px solid; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 8px; BORDER-LEFT: #e2dbdd 1px solid; PADDING-RIGHT: 8px; BACKGROUND-COLOR: #ffffff
}
.btnAdd {
	MARGIN: 0px
}
.toolTipbox {
	BORDER-TOP: #b60548 2px solid; BORDER-RIGHT: #b60548 2px solid; BORDER-BOTTOM: #b60548 2px solid; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 8px; BORDER-LEFT: #b60548 2px solid; Z-INDEX: 100000; DISPLAY: none; PADDING-RIGHT: 8px; BACKGROUND-COLOR: #ffffff
}
.toolTipbox SPAN {
	HEIGHT: 23px; WIDTH: 13px; BACKGROUND: url(../images/popArrow.gif) no-repeat; POSITION: absolute; MARGIN-LEFT: -21px; MARGIN-TOP: -2px; DISPLAY: block
}
.toolPos {
	WIDTH: 150px; POSITION: absolute; MARGIN-LEFT: 165px; MARGIN-TOP: -9px
}
.toolPos1 {
	WIDTH: 200px; POSITION: absolute; MARGIN-LEFT: 243px; MARGIN-TOP: -5px
}
.tablist1 {
	BACKGROUND: url(../images/dot.gif) repeat-x 50% bottom
}
.tablist1 DIV {
	TEXT-DECORATION: none; BORDER-TOP: #e2dbdd 1px solid; BORDER-RIGHT: #e2dbdd 1px solid; BORDER-BOTTOM: #e2dbdd 0px solid; FLOAT: left; COLOR: #333333; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; FONT: 11px Arial, Helvetica, sans-serif; PADDING-LEFT: 8px; BORDER-LEFT: #e2dbdd 1px solid; DISPLAY: block; PADDING-RIGHT: 8px; MARGIN-RIGHT: 5px
}
.tablist1 DIV SPAN.no {
	FONT-SIZE: 20px; FLOAT: left; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 5px; DISPLAY: block; PADDING-RIGHT: 8px
}
.tablist1 DIV SPAN.txt {
	FLOAT: left; PADDING-TOP: 5px; DISPLAY: block
}
.tablist1 DIV.tabact {
	TEXT-DECORATION: none; BORDER-TOP: #e2dbdd 1px solid; BORDER-RIGHT: #e2dbdd 1px solid; BORDER-BOTTOM: #e2dbdd 0px solid; FLOAT: left; COLOR: #333333; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; FONT: 11px Arial, Helvetica, sans-serif; PADDING-LEFT: 8px; BORDER-LEFT: #e2dbdd 1px solid; DISPLAY: block; PADDING-RIGHT: 8px; BACKGROUND-COLOR: #f1ebed; MARGIN-RIGHT: 5px
}
.tablist1 DIV.tabact SPAN.no {
	FONT-SIZE: 20px; FLOAT: left; FONT-WEIGHT: normal; COLOR: #b60548; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 5px; DISPLAY: block; PADDING-RIGHT: 8px
}
.balancebox {
	BORDER-TOP: #dcdcde 1px solid; BORDER-RIGHT: #dcdcde 1px solid; WIDTH: 40%; BORDER-BOTTOM: #dcdcde 1px solid; PADDING-BOTTOM: 3px; TEXT-ALIGN: center; PADDING-TOP: 3px; PADDING-LEFT: 3px; BORDER-LEFT: #dcdcde 1px solid; PADDING-RIGHT: 3px; BACKGROUND-COLOR: #f1f1f1
}
.notelist {
	LIST-STYLE-TYPE: disc; MARGIN-LEFT: 15px
}
#TipLayer {
	POSITION: absolute; MARGIN-TOP: 0px
}
#TipLayer SPAN {
	HEIGHT: 23px; WIDTH: 13px; BACKGROUND: url(../images/popArrow.gif) no-repeat; POSITION: absolute; MARGIN-LEFT: -21px; Z-INDEX: 1000; MARGIN-TOP: 0px; DISPLAY: block
}
.siteBtn {
	CURSOR: pointer
}
.siteMapBox {
	BORDER-TOP: #a3013e 2px solid; BORDER-RIGHT: #a3013e 2px solid; WIDTH: 961px; BORDER-BOTTOM: #a3013e 2px solid; POSITION: absolute; COLOR: #000000; TEXT-ALIGN: left; BORDER-LEFT: #a3013e 2px solid; Z-INDEX: 10000; MARGIN-TOP: -28px; BACKGROUND-COLOR: #ffffff
}
.siteBx {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px
}
.siteBx TD {
	LINE-HEIGHT: 18px
}
.tran_box {
	BORDER-TOP: #fbdbe7 1px solid; BORDER-RIGHT: #fbdbe7 1px solid; BACKGROUND: #fff6f9; BORDER-BOTTOM: #fbdbe7 1px solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #fbdbe7 1px solid; PADDING-RIGHT: 5px
}
.font12 {
	FONT-SIZE: 12px
}
.red_Title {
	FONT-SIZE: 12px; COLOR: #b60548
}
.red_Title A {
	FONT-SIZE: 12px; TEXT-DECORATION: none; COLOR: #b60548
}
.red_Title A:hover {
	FONT-SIZE: 12px; TEXT-DECORATION: underline; COLOR: #b60548
}
BUTTON.greybtn {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
BUTTON.greybtn IMG {
	VERTICAL-ALIGN: middle
}
BUTTON.greybtn SPAN {
	BORDER-TOP: #d5d2d2 1px solid; BORDER-RIGHT: #d5d2d2 1px solid; BACKGROUND: url(../images/grey_btnbg.gif) repeat-x 50% bottom; BORDER-BOTTOM: #d5d2d2 1px solid; COLOR: #000000; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; FONT: bold 11px Arial, Helvetica, sans-serif; PADDING-LEFT: 6px; BORDER-LEFT: #d5d2d2 1px solid; PADDING-RIGHT: 6px
}
.gridhead1 {
	BACKGROUND: #d9d9d9; FONT-WEIGHT: bold
}
.sitetitle {
	COLOR: #b60548; FONT: bold 13px Arial, Helvetica, sans-serif
}
.sitetitle01 {
	COLOR: #b60548; FONT: bold 11px Arial, Helvetica, sans-serif
}
A.greylink {
	TEXT-DECORATION: underline; COLOR: #666666
}
A.greylink:hover {
	TEXT-DECORATION: none; COLOR: #666666
}
.perBox {
	PADDING-TOP: 30px; PADDING-LEFT: 30px
}
.logoLine {
	BORDER-BOTTOM: #a4013f 5px solid
}
.iconnetBox {
	PADDING-TOP: 20px
}
.infobox {
	BORDER-TOP: #e2dbdd 1px solid; BORDER-RIGHT: #e2dbdd 1px solid; BORDER-BOTTOM: #e2dbdd 1px solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #e2dbdd 1px solid; PADDING-RIGHT: 5px; BACKGROUND-COLOR: #f1ebed
}
.bulletStyle LI {
	LIST-STYLE-TYPE: none; BACKGROUND: url(../images/bullet.gif) no-repeat 0px 7px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 15px; PADDING-RIGHT: 3px
}
.bulletStyle LI A {
	TEXT-DECORATION: none
}
.bulletStyle LI A:hover {
	TEXT-DECORATION: underline
}
.vline {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 8px
}
.vPad {
	PADDING-LEFT: 8px
}
.iconLink LI {
	LIST-STYLE-TYPE: none; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px
}
.iconLink LI A {
	TEXT-DECORATION: none; COLOR: #a4013f; FONT: 12px Arial, Helvetica, sans-serif
}
.iconLink LI A IMG {
	POSITION: absolute; MARGIN-LEFT: -20px
}
.iconLink LI A:hover {
	TEXT-DECORATION: underline
}
.logBg {
	BACKGROUND: url(../images/loginBoxbg.gif) repeat-x 50% top
}
.vBoard IMG {
	CURSOR: pointer; MARGIN: 1px 2px
}
.addCol {
	FONT-SIZE: 12px
}
.noteBox {
	LINE-HEIGHT: 18px
}
.txtLogin {
	FONT-SIZE: 16px; FONT-WEIGHT: bold; COLOR: #a4013f
}
.ulList02 LI {
	LIST-STYLE-TYPE: none; BACKGROUND: url(../images/icon/icon_bullet.gif) no-repeat 0px 9px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 15px; PADDING-RIGHT: 5px
}
.ulList02 LI.nolist {
	BACKGROUND: url(../images/h_line.gif) repeat-x center center; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.box3 {
	BORDER-TOP: #d1f7c5 1px solid; BORDER-RIGHT: #d1f7c5 1px solid; BACKGROUND: url(../images/grLine.gif) #fcfff6 repeat-x 50% bottom; BORDER-BOTTOM: #d1f7c5 1px solid; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 15px; BORDER-LEFT: #d1f7c5 1px solid; PADDING-RIGHT: 15px
}
.blinkytext {
	FONT-SIZE: 1.2em; TEXT-DECORATION: blink; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-STYLE: normal
}
.but {
	OVERFLOW: visible; BORDER-TOP: #a1335a 1px solid; BORDER-RIGHT: #a1335a 1px solid; BACKGROUND: url(../images/btnBg.gif) #bd4875 repeat-x 50% bottom; BORDER-BOTTOM: #a1335a 1px solid; COLOR: #ffffff; PADDING-BOTTOM: 4px; PADDING-TOP: 2px; FONT: bold 11px Arial, Helvetica, sans-serif; PADDING-LEFT: 6px; BORDER-LEFT: #a1335a 1px solid; PADDING-RIGHT: 6px
}
.olList {
	PADDING-LEFT: 20px; _padding-left: 30px
}
.olList LI {
	PADDING-BOTTOM: 2px; PADDING-TOP: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 5px
}
.ulList01 LI {
	LIST-STYLE-TYPE: none; BACKGROUND: url(../images/comm_bullete.gif) no-repeat 0px 4px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px
}
